body{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}
/* .conteneurPrincipal{
    background-color: rgb(1, 1, 54);
    display: flex;
    flex-direction: column;
    /* width: 20vw; */
    /* height: 100%;
    overflow: auto; 
    padding:3% 2% 0 2%;
    left: 0;
    top: 0;
    bottom:0; */
    /* }  */